* {
	color: #f3613a; /* Base color of the text */
	font-family: monospace;
        text-align: center;
        text-shadow: 
        0 0 1px #f3613a,  /* First shadow: slight blur, same color as text */
        0 0 3px #f3613a, /* Second shadow: larger blur, glow color */
        0 0 5px #f3613a; /* Third shadow: even larger blur, same glow color */
}

body {
  width: 58rem;
  background-color: black;
  color: #f3613a;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
    mask-size: 100% 2px;
    text-shadow: 0 0 0.5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
	padding: 0.25rem;
}

p {
  margin: 0;
  font-size: 10px;
  display: flex;
  justify-self: left;
  font-style: italic;
}

guide {
  border: 2px solid #f3613a;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.section-title{
  font-size: 30px;
}

.box-defaults{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #f3613a;
  margin-bottom: 5em;
}

#company-h1{
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-self: flex-end;
  justify-self: right;
}

span{
  font-size: 15px;
}

basics{
  width: 20em;
}

form{
	display: flex;
	flex-direction: row;
	border: 3px solid #f3613a;
	box-shadow: 0 0 10px 0.5px #f3613a;
	justify-content: space-around;
}

h2{
	justify-self: left;
	display: flex;
}

input{
	border: 0.5px solid #f3613a;
	padding: 0.25rem;
	margin: 5px;
	background-color: black;
	width: 20rem;
}
::placeholder{
	color: #f3613a;
}

mainform{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 3px solid #f3613a;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

retroeffect{
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
    mask-size: 100% 2px;
    text-shadow: 0 0 0.5rem;
}

@keyframes crtAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 10000%;
    }
}

.old-crt-monitor {
    background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
    animation: crtAnimation 100s linear infinite;
    background-size: 100% 80%;
}

/*
RETROFUTURISM COLOR PALLET
#f3613a   -orange
#efb737   -yellow
#eace8d   -off white
#833834   -brown-red

*/
