* {
	color: #ff6a00; /* Base color of the text */
	font-family: monospace;
        text-align: center;
        text-shadow: 
        0 0 1px #ff6a00,  /* First shadow: slight blur, same color as text */
        0 0 3px #ff6a00, /* Second shadow: larger blur, glow color */
        0 0 5px #ff6a00; /* Third shadow: even larger blur, same glow color */
}

body {
  width: 58rem;
  background-color: black;
  color: #ff6a00;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
    mask-size: 100% 2px;
    text-shadow: 0 0 0.5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
	padding: 0.25rem;
}

p {
  margin: 0;
  font-size: 10px;
  display: flex;
  justify-self: left;
  font-style: italic;
}

userform{
	display: flex;
	flex-direction: row;
	border: 3px solid #ff6a00;
	box-shadow: 0 0 10px 0.5px #ff6a00;
	justify-content: space-around;
}

h2{
	justify-self: left;
	display: flex;
}

input{
	border: 0.5px solid #ff6a00;
	padding: 0.25rem;
	0 0 2px #ff6a00,  /* First shadow: slight blur, same color as text */
        0 0 5px white, /* Second shadow: larger blur, glow color */
	0 0 8px white; /* Third shadow: even larger blur, same glow color */
	margin: 10px;
	background-color: black;
	width: 20rem;
}
::placeholder{
	color: #ff6a00;
}

mainform{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 3px solid #ff6a00;
	margin: 1rem;
}

retroeffect{
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
    mask-size: 100% 2px;
    text-shadow: 0 0 0.5rem;
}

@keyframes crtAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 10000%;
    }
}

.old-crt-monitor {
    background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
    animation: crtAnimation 100s linear infinite;
    background-size: 100% 80%;
}
